@model IdentityUser

@{
    ViewData["Title"] = "Account Details";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-white shadow-md rounded-lg overflow-hidden h-screen">
    <div class="bg-gray-100 px-4 py-2">
        <h2 class="text-lg font-semibold text-gray-800">Account Details</h2>
    </div>

    <div class="p-4">
        <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
            <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">User ID</dt>
                <dd class="mt-1 text-sm text-gray-900">@Model.Id</dd>
            </div>

            <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">Username</dt>
                <dd class="mt-1 text-sm text-gray-900">@Model.UserName</dd>
            </div>

            <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">Email</dt>
                <dd class="mt-1 text-sm text-gray-900">@Model.Email</dd>
            </div>

            <!-- Add more details as needed -->

        </dl>

        <div class="flex justify-end mt-4">
            <a asp-action="Index" class="btn btn-neutral">Back</a>
        </div>
    </div>
</div>
